<div class="container">
  <footer class="footer">
    <p class="mb-0">Copyright
      <script>document.write(new Date().getFullYear())</script> &copy; [Your Name]
    </p>
    <div class="social-links text-right m-auto ml-sm-auto">
      <a href="[Your Facebook Link]" class="link"><i class="ti-facebook"></i></a>
      <a href="[Your Twitter Link]" class="link"><i class="ti-twitter-alt"></i></a>
      <a href="[Your Google Link]" class="link"><i class="ti-google"></i></a>
      <a href="[Your Pinterest Link]" class="link"><i class="ti-pinterest-alt"></i></a>
      <a href="[Your Instagram Link]" class="link"><i class="ti-instagram"></i></a>
      <a href="[Your RSS Link]" class="link"><i class="ti-rss"></i></a>
    </div>
  </footer>
</div>
