<section class="section pt-0" id="about">
  <div class="container text-center">
    <div class="about">
      <div class="about-img-holder">
        <img src="assets/imgs/man.png" alt="Your Profile Picture" class="about-img">
      </div>
      <div class="about-caption">
        <p class="section-subtitle">Who Am I ?</p>
        <h2 class="section-title mb-3">About Me</h2>
        <p>
          hi hi hi hi 
        </p>
        <button class="btn-rounded btn btn-outline-primary mt-4" routerLink="/cv">Download CV</button>
      </div>
    </div>
  </div>
</section>
