<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
  <div class="container">
    <a class="logo" href="#">Meyawo</a>
    <ul class="nav">
      <li class="item">
        <a class="link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="item">
        <a class="link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="item">
        <a class="link" routerLink="/projects" routerLinkActive="active">Portfolio</a>
      </li>
      <li class="item">
        <a class="link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
      </ul>
    <a id="nav-toggle" class="hamburger hamburger--elastic">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </a>
  </div>
</nav>
