<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
  <div class="container">
    <a class="logo" href="#">Oumayma</a>
    <ul class="nav">
      <li class="item"><a class="link" href="#home">Home</a></li>
      <li class="item"><a class="link" href="#about">About</a></li>
      <li class="item"><a class="link" href="#projects">Projects</a></li>
      <li class="item"><a class="link" href="#cv">CV</a></li>
      <li class="item"><a class="link" href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
